/* *******************************
   PROFILE COVER
*********************************/
.profile-cover-remove {
	.elgg-body {
		text-align: center;
		
		img {
			max-height: 200px;
			width: 100%;
		}
	}
}
